.header{
    width: 100%;
    background-image: url(../img/main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 535px;
    position: relative;
}

.menu-wrap{
    margin: 0 auto;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    width: 1318px;
    height: 60px;
    background: #fff;
}

.menu-wrap > ul{
    width: 100%;
    height: 100%;
}

.menu-wrap > ul > li{
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin: 0 18px;
    display: inline-block;
    margin-bottom: -10px;
}

.menu-wrap > ul > .logo_img > a > img{
    display: block;
    height: 32px;
    margin-top: 15px;
}

.header_main_wrap{
    width: 1319px;
    margin: 0 auto;
    padding-top: 240px;
    padding-left: 25px;
}

.more_info_box{
    display: block;
    width: 152px;
    height: 43px;
    line-height: 43px;
    background: #25d663;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.main{
    width: 100%;
    background-color: #fff;
}
.main_content_wrap{
    width: 1288px;
    max-width: 1288px;
    margin: 0 auto;
}

.contents_area{
    width: 100%;
    margin: 0 auto;
}

.contents_area > ul{
    display: flex;
}
.contents_area > ul > li{
    width: 33%;
    color: #878890;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
}

.contents_area > ul > li > a > p{
    color: #606167;
    font-size: 16px;
    margin-top: 10px;
    line-height: 30px;
    word-break: keep-all;    
}
.contents_main_tit{
    color: #878890;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    margin-top: 10px;
}

.news_tit{
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0 0 0;
    line-height: 30px;
    word-break: keep-all;
}

.blog_area > .contents_main_tit{
    margin-top: -10px;
}

.footer{
    font-size: 0.9em;
    margin-top: 50px;
    position: relative;
    background: #F8F9FA;
    border-top: 4px solid #F8F9FA;
    /* margin-top: 40px; */
    padding: 50px 0 30px;
}
.footer_wrap{
    width: 1288px;
    margin: 0 auto;
}

.company_info{
    margin: 25px 0 15px;
    padding: 0;
}
.company_info > li{
    display: inline-block;
    color: #606167;
    font-weight: 600;
    font-size: 18px;
    padding: 0 20px 0 0;
}

.footer_wrap > address{
    color: #878890;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-weight: 300;
    line-height: 30px;
}
